@model IEnumerable<FirstMvcApp.Models.Author>

@{
    ViewData["Title"] = "ListAllAuthors";
}

<h1>ListAllAuthors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfBooksPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorDateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoyalityCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfBooksPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorDateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoyalityCompany)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
